*,
::after,
::before {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
:root {
    --primary-color-black: #152427;
    --primary-color-black-green: #143c3c;
    --text-color-white: #fff;
    --text-color-black-gray: #575d5e;
}
/*-------------Common-------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Public Sans", sans-serif;
}
.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
a {
    text-decoration: none;
}
.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    --width: 173px;
    --height: 57px;
    min-width: var(--width);
    height: var(--height);
    border-radius: 40px;
    border: 1.5px solid #143c3c;
    background: var(--primary-color-black-green, #143c3c);
    transition: 0.2s;
    color: var(--text-color-white, #fff);
    text-align: center;
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 155.556%;
}
.btn:hover {
    background: #fff;
    color: var(--primary-color-black-green);
}
/*--------------Header--------------*/
.header {
    padding: 28px 0 10px;
    position: sticky;
    top: -10px;
    z-index: 3;
    background-color: #fff;
}
.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar__list {
    display: flex;
    margin-left: 280px;
}
.navbar__link {
    padding: 8px 19px;
    color: var(--text-color-black-gray, #575d5e);
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 155.556%;
    transition: 0.2s;
}
.navbar__link:hover {
    text-shadow: 1px 0 0 currentColor;
    color: var(--primary-color-black, #152427);
}

/*--------------Hero--------------*/
.hero {
    padding: 64px 0;
}
.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.hero__content {
    flex-shrink: 0;
}
.hero__inner::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
    top: -60px;
}

.hero__heading {
    width: 368px;
    color: var(--primary-color-black, #152427);
    font-family: Public Sans;
    font-size: 5rem;
    font-weight: 800;
    line-height: 120%;
}
.hero__desc {
    width: 341px;
    margin-top: 20px;
    color: var(--text-color-black-gray, #575d5e);
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 155.556%;
}
.hero__row {
    margin-top: 42px;
}
.btn-play {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background: #83a17d;
    border-radius: 50%;
}
.btn-play:hover::before {
    cursor: pointer;
    rotate: 226deg;
}
.btn-play::before {
    position: absolute;
    content: "";
    display: block;
    top: -7.5px;
    left: -8px;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    border: 4px solid #143c3c;
    border-top-color: transparent;
    border-right-color: transparent;
    transition: 0.5s ease-in-out;
    rotate: 45deg;
}
.hero__row-play {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 43px;
    gap: 1.5rem;
}
.hero__row-play span {
    color: #152427;
    text-align: center;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 166.667%;
}
.hero__media {
    width: 56.6%;
    max-width: 56.6%;
    display: flex;
    position: relative;
    column-gap: 20px;
}
.hero__img {
    width: 202px;
    height: 464px;
    object-fit: cover;
    border-radius: 110px;
}
.hero__item:first-of-type {
    position: relative;
    right: 20px;
}
.hero__item:first-of-type::before {
    position: absolute;
    content: url(../img/hero-img-decor.svg);
    left: -220px;
    top: -20px;
}
.hero__item:first-of-type::after {
    position: absolute;
    content: url(../img/hero-img-decor2.svg);
    z-index: 1;
    left: -175px;
    top: -21px;
}
.hero__item:nth-of-type(2):before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 340px;
    height: 340px;
    flex-shrink: 0;
    border-radius: 340px;
    background: #4dbb9a;
    filter: blur(137px);
    z-index: -1;
    bottom: 79px;
    left: -86px;
}
.hero__item:nth-of-type(2) {
    position: relative;
    top: 77px;
    right: 20px;
}
.hero__item:last-of-type {
    position: relative;
    right: 20px;
}
.hero__item:last-of-type::before {
    position: absolute;
    content: url(../img/hero-img-decor3.svg);
    left: -423px;
    bottom: -139px;
}
.hero__item:last-of-type::after {
    position: absolute;
    content: url(../img/hero-img-decor.svg);
    right: 10px;
    bottom: -118px;
}
